.about__title {
  font-size: 20px;
  text-align: center;
  color: #5b6ceb;
  margin-top: 50px;
  margin-bottom: 30px;
}
.about__text {
  color: #555555;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}
.about__gallery-wrapper {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.about__photo {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.about__gallery-next {
  top: 50%;
  right: -30px;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  position: absolute;
  background-size: 100%;
  background-image: url(../logo/next-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.about__gallery-prev {
  top: 50%;
  left: 42px;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  position: absolute;
  background-size: 100%;
  background-image: url(../logo/prev-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (min-width: 700px) {
  .about {
    display: flex;
    justify-content: center;
  }
  .about__text-wrapper {
    width: 45%;
    max-width: 522px;
  }
  .about__gallery-wrapper {
    display: flex;
    width: 45%;
    align-items: center;
    margin-top: 100px;
    max-width: 522px;
  }
  .about__title {
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-top: 60px;
  }
  .about__title {
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
  }
}
.class {
  font-size: 0;
}
.class__title {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  color: #5b6ceb;
}
.class__promo {
  text-align: center;
  color: #777777;
  font-size: 24px;
  margin-top: 15px;
  font-family: 'Oleo Script', cursive;
  margin-bottom: 45px;
}
.class__photo {
  position: absolute;
  left: -130px;
  top: 0;
  overflow: hidden;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}
.class__window {
  overflow: hidden;
  position: relative;
  width: 300px;
  padding-top: 300px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.class__window-title {
  color: #777777;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.class__text {
  color: #555555;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.class__sign {
  color: #999999;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 700px) {
  .class__title {
    font-size: 25px;
    margin-top: 45px;
  }
  .class__wrapper {
    width: 680px;
    margin: 0 auto;
  }
  .class__window {
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .class__window {
    padding-top: 0;
    padding-left: 270px;
    margin: 0;
    height: 300px;
    margin-left: 0.75%;
    margin-right: 0.75%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .class__wrapper {
    width: 1180px;
  }
  .class__photo {
    border-top-right-radius: 0;
    left: -180px;
  }
  .class__window-title {
    padding-top: 40px;
    padding-left: 30px;
  }
  .class__text {
    padding-left: 30px;
  }
  .class__sign {
    padding-left: 30px;
  }
  .class__title {
    font-size: 30px;
    margin-top: 100px;
  }
  .class__promo {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}
.features {
  background-image: url(../img/features-background-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.features__item {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.features__title {
  font-weight: 700;
}
@media (min-width: 700px) {
  .features {
    background-image: url(../img/features-background-tablet.jpg);
  }
  .features__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features__item {
    display: inline-block;
    width: 300px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .features {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/features-background-desktop.jpg);
  }
  .features__wrapper {
    margin: 0 auto;
    max-width: 1300px;
  }
  .features__title {
    font-size: 18px;
  }
  .features__text {
    font-size: 16px;
  }
}
.footer {
  background-color: #5b6ceb;
}
.footer__wrapper {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.footer__phone-wrapper {
  width: 145px;
}
.footer__about {
  padding-bottom: 20px;
}
.footer__title {
  font-weight: 700;
}
.footer__contacts {
  display: block;
  width: 100%;
}
.footer__contacts-item {
  display: inline-block;
  width: auto;
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 30px;
  text-decoration: none;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
}
.footer__social {
  width: 100%;
}
.footer__social-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__social-item--ptrst {
  background-image: url(../logo/social-pinterest-logo.png);
}
.footer__social-item--twt {
  background-image: url(../logo/social-twitter-logo.png);
}
.footer__social-item--fb {
  background-image: url(../logo/social-facebook-logo.png);
}
.footer__social-item--gp {
  background-image: url(../logo/social-google-logo.png);
}
.footer__social-item--inst {
  background-image: url(../logo/social-instagram-logo.png);
}
.footer__social-item--adress {
  padding-top: 0;
  background-image: url(../logo/placeholder-logo.png);
}
.footer__social-item--phone {
  padding-top: 0;
  background-image: url(../logo/call-logo.png);
}
.footer__social-item--mail {
  padding-top: 0;
  background-image: url(../logo/mail-logo.png);
}
.footer__social-item--site {
  padding-top: 0;
  display: block;
  width: 145px;
  background-image: url(../logo/www-logo.png);
}
.footer__copyright {
  display: flex;
  background-color: #5363d8;
  color: #b7bffc;
  flex-direction: column;
  align-items: center;
}
.footer__copyright-logo {
  font-weight: 700;
  padding-left: 47px;
  height: 42px;
  line-height: 42px;
  background-image: url(../logo/copyright-logo.jpg);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 20px;
  margin-top: 10px;
}
.footer__copyright-text {
  margin-top: 32px;
}
.footer__contacts > .footer__title {
  margin-top: 7px;
}
@media (min-width: 700px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__about {
    display: inline-block;
    width: 50%;
    min-height: 212px;
  }
  .footer__contacts {
    display: inline-block;
    width: 40%;
    min-height: 212px;
  }
}
@media (min-width: 1200px) {
  .footer__contacts > .footer__title {
    margin-top: 18px;
  }
  .footer__copyright-text {
    font-size: 16px;
    margin: 44px;
  }
  .footer__copyright-logo {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .footer__about {
    width: 470px;
  }
  .footer__text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .footer__contacts {
    width: 670px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 241px;
  }
  .footer__phone-wrapper {
    order: 3;
    padding-top: 0;
    padding-right: 160px;
    padding-bottom: 30px;
  }
  .footer__social-item--mail {
    height: 32px;
    order: 2;
    padding-top: 0;
  }
  .footer__social-item--site {
    height: 32px;
    order: 4;
    padding-top: 0;
  }
  .footer__social-item--adress {
    order: 1;
    padding-top: 0;
    padding-right: 100px;
    padding-bottom: 30px;
  }
  .footer__social-item--phone {
    padding-top: 0;
  }
  .footer__title {
    font-size: 18px;
    width: 100%;
  }
}
.gallery {
  font-size: 0;
  padding-top: 50px;
}
.gallery__photo {
  width: 100%;
}
.gallery__photo-wrapper {
  display: inline-block;
  position: relative;
  width: 50%;
}
.gallery__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 108, 235, 0.8);
  background-image: url(../logo/search-logo.png);
  background-position: center;
  background-repeat: no-repeat;
}
.gallery__photo-wrapper:hover .gallery__hover {
  display: block;
}
@media (min-width: 700px) {
  .gallery {
    padding-top: 50px;
  }
  .gallery__photo-wrapper {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .gallery {
    max-width: 1600px;
    padding-top: 100px;
    margin: 0 auto;
  }
  .gallery__photo-wrapper {
    width: 25%;
  }
}
.header__list-item {
  text-decoration: none;
  color: #555555;
}
.header {
  position: fixed;
  z-index: 100;
  min-width: 100%;
  max-width: 1200px;
  height: 66px;
  background-color: #ffffff;
  box-sizing: border-box;
  top: 0;
  box-shadow: 0px 0px 15px 1px rgba(0, 1, 1, 0.1);
}
.header::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: 20px;
  top: 8px;
  background-size: 46px auto;
  transform: none;
  background-repeat: no-repeat;
  z-index: 101;
  background-image: url(../logo/logo.png);
}
.header__list-item--logo {
  display: none;
}
.header nav {
  height: 66px;
}
.header__toggle:hover .header__toggle--burger1,
.header__toggle:hover .header__toggle--burger2,
.header__toggle:hover .header__toggle--burger3 {
  background-color: #5b6ceb;
}
.header__toggle:active .header__toggle--burger1,
.header__toggle:active .header__toggle--burger2,
.header__toggle:active .header__toggle--burger3 {
  background-color: #cccccc;
}
.header__toggle {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  width: 50px;
  height: 66px;
  font-size: 0;
  z-index: 1000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: 0;
  transition: all 0.3s linear;
  border-radius: 100px;
}
.header__toggle--burger1 {
  position: absolute;
  top: 21px;
  left: 0;
  width: 50px;
  height: 4px;
  z-index: 999;
  background-color: #5363d8;
  transition: all 0.3s linear;
}
.header__toggle--burger2 {
  position: absolute;
  top: 31px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #5363d8;
  transition: all 0.3s linear;
}
.header__toggle--burger3 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #5363d8;
  transition: all 0.3s linear;
}
.header .header__toggle--pressed1 {
  transform: rotate(-45deg);
  width: 40px;
  top: 30px;
  left: 10px;
}
.header .header__toggle--pressed2 {
  transform: rotate(0deg);
  height: 0;
  left: 40px;
  width: 0;
}
.header .header__toggle--pressed3 {
  position: absolute;
  top: 30px;
  width: 40px;
  transform: rotate(45deg);
  left: 10px;
}
.header__logo {
  padding-left: 20px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  font-size: 0;
}
.header__list {
  position: relative;
  min-width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  padding-top: 67px;
  margin: 0;
  list-style: none;
  font-weight: 700;
  color: #555555;
}
.header__list li {
  background-color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #555555;
  z-index: 99;
  line-height: 40px;
}
.header__list li:hover a {
  transition: all 0.3s linear;
  color: #5363db;
}
.header__list li:active a {
  color: #cccccc;
}
.header__list li:first-child {
  border-top: 1px solid #000000;
}
.header__list li:first-child::before {
  content: "";
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.3);
}
.header__list--closed {
  top: -320px;
}
.header__list--closing {
  animation: closing 0.3s ease-out;
}
@keyframes closing {
  from {
    top: 1px;
  }
  to {
    top: -300px;
  }
}
.header__list--opened {
  display: block;
  animation: opening 0.3s ease-out;
}
@keyframes opening {
  from {
    top: -300px;
  }
  to {
    top: 1px;
  }
}
@media (min-width: 700px) {
  .header {
    height: 110px;
  }
  .header nav {
    height: 110px;
  }
  .header__list {
    height: 110px;
    padding-top: 110px;
  }
  .header__list--closed {
    top: -420px;
  }
  .header::before {
    left: 40px;
    top: 20px;
    width: 68px;
    height: 68px;
    background-size: 68px auto;
  }
  .header__toggle {
    top: 22px;
    right: 40px;
  }
  .header__toggle--burger1 {
    top: 22px;
  }
  .header__toggle--burger2 {
    top: 32px;
  }
  .header__toggle--burger3 {
    top: 42px;
  }
}
@media (min-width: 1200px) {
  .header__toggle {
    display: none;
  }
  .header::before {
    display: none;
  }
  .header__list-item {
    font-size: 14px;
  }
  .header__list-item--logo {
    display: inline-block;
    width: 70px;
    line-height: 110px;
    top: 10px;
    background-size: 68px auto;
    background-repeat: no-repeat;
    background-image: url(../logo/logo.png);
    background-position: 15px 20px;
  }
  .header__list-item--logo:hover::after {
    display: none;
  }
  .header__list {
    max-width: 1200px;
    min-width: 50%;
    padding-top: 0;
    margin: 0 auto;
  }
  .header__list li {
    top: -50px;
    position: relative;
    line-height: 110px;
    display: inline-block;
    border: none;
    width: 164px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .header__list li::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #5363db;
    transition: all 0.1s linear;
  }
  .header__list li:hover::after {
    width: 40%;
  }
  .header__list li:first-child {
    border: none;
  }
  .header__list li:nth-child(4) {
    position: relative;
    display: inline-block;
    top: 0;
    height: 110px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .header__list li:first-child::before {
    display: none;
    border: none;
  }
  .header__list--closed {
    top: 0;
  }
}
.price {
  padding-top: 50px;
  background-image: url(../img/comment-background.jpg);
  background-repeat: no-repeat;
  background-position: 100% 128%;
  padding-bottom: 80px;
}
.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 460px;
  border-radius: 10px;
  box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  color: #555555;
  font-size: 20px;
  transition: all 0.3s linear;
  background-color: #ffffff;
}
.price__label {
  width: 100%;
  height: 100px;
  background-color: #5b6ceb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  transition: all 0.3s linear;
}
.price__symbol {
  display: inline-block;
  width: 30px;
  font-size: 30px;
  line-height: 100px;
  vertical-align: top;
  margin: 0;
  font-weight: 700;
}
.price__amount {
  display: inline-block;
  width: 60px;
  font-size: 48px;
  line-height: 100px;
  font-weight: 700;
  margin: 0;
}
.price__dur {
  display: inline-block;
  width: 100px;
  font-size: 20px;
  line-height: 100px;
  margin: 0;
}
.price__date {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.price__date::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #999999;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.price__time {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.price__time::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #999999;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.price__advice {
  margin-top: 20px;
  margin-bottom: 40px;
}
.price__buy-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #5b6ceb;
  width: 170px;
  line-height: 50px;
  border-radius: 15px;
  transition: all 0.3s linear;
  order: 1;
}
.price__buy-btn:hover ~ .price__label,
.price__buy-btn:hover {
  color: #2e3eb9;
  background-color: #a4aefb;
}
.price__buy-btn:active ~ .price__label,
.price__buy-btn:active {
  background-color: #cccccc;
}
.price__comment-wrapper {
  max-width: 1300px;
  width: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
}
.price__next-comment {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin: 0 auto;
}
.price__next-comment::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 30px;
  background-size: 100%;
  background-image: url(../logo/prev-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.price__next-comment::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: -10px;
  background-size: 100%;
  background-image: url(../logo/next-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.price__present-comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-top: 50px;
}
.price__comment-input {
  display: none;
}
.price__comment-text {
  color: #555555;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}
.price__present-comment-border {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  margin-bottom: 30px;
}
.price__comment-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 2px solid #ccc;
}
.price__autor-post {
  margin: 10px;
  color: #777777;
}
.price__autor-name {
  margin: 10px;
  margin-top: 0;
  font-weight: 700;
  color: #5b6ceb;
}
.price__next-photo {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin-left: -50px;
}
.price__next-autor-name {
  font-weight: 700;
  font-size: 16px;
  color: #555555;
  padding-left: 20px;
}
.price__next-autor-post {
  color: #777777;
  font-size: 12px;
  align-self: flex-end;
  flex-direction: column;
  margin-left: -90px;
}
@media (min-width: 700px) {
  .price__items-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
  .price__present-comment {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 100px;
    padding-bottom: 200px;
    background-position: 100% 230%;
  }
  .price__items-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .price__item {
    font-size: 18px;
    width: 370px;
    height: 490px;
    margin: 0;
  }
  .price__symbol {
    font-size: 32px;
    line-height: 150px;
  }
  .price__dur {
    line-height: 150px;
  }
  .price__amount {
    width: 80px;
    font-size: 67px;
    line-height: 150px;
  }
  .price__label {
    height: 150px;
  }
  .price__wrapper {
    position: relative;
  }
  .price__comment-wrapper {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    height: 250px;
  }
  .price__present-comment-border {
    left: -280px;
    top: 40px;
    margin-bottom: 0;
  }
  .price__present-comment-border:after {
    content: "";
    display: block;
    position: relative;
    top: 70px;
    right: -230px;
    height: 75px;
    width: 2px;
    background-color: #d7d7d7;
  }
  .price__comment-text {
    position: absolute;
    top: 75px;
    transform: translateY(-50%);
    width: 640px;
    padding: 0;
  }
  .price__present-comment {
    position: relative;
    align-items: flex-start;
    padding-left: 350px;
    padding-top: 0;
  }
  .price__present-comment::before {
    content: "“";
    position: absolute;
    font-size: 60px;
    left: 295px;
    top: 30px;
    color: #5b6ceb;
  }
  .price__autor-post {
    position: relative;
    margin: 0;
    margin-top: -12px;
  }
  .price__autor-post::after {
    content: "”";
    position: absolute;
    font-size: 60px;
    right: -600px;
    bottom: 0;
    color: #5b6ceb;
  }
  .price__autor-name {
    margin: 0;
    margin-top: 10px;
  }
  .price__next-comment {
    height: 100px;
    padding-left: 400px;
    margin-top: -10px;
  }
  .price__next-comment::before {
    left: 430px;
  }
  .price__next-autor-name {
    margin-top: -10px;
    padding-left: 10px;
  }
  .price__next-autor-post {
    margin-bottom: 25px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .price__toggles {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 30px;
    right: 30px;
    top: 55px;
  }
  .price__toggle {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #5b6ceb;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .price__toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: all 0.3s;
    opacity: 0;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    background-color: #5b6ceb;
  }
}
.price__comment-input:checked + .price__toggle::after {
  opacity: 1;
}
@media (min-width: 1450px) {
  .price__toggles {
    right: -55px;
  }
}
.trial-form {
  height: 700px;
  background-image: url(../img/trial-background-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.trial-form__title-wrapper {
  padding-top: 60px;
  width: 300px;
  margin: 0 auto;
  color: #ffffff;
}
.trial-form__title {
  font-size: 26px;
  margin-bottom: 14px;
  margin-top: 45px;
}
.trial-form__promo {
  font-weight: 400;
  font-size: 24px;
  margin-top: 14px;
  font-family: 'Oleo Script', cursive;
}
.trial-form__inner {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 340px;
  background-color: #ffffff;
  border-radius: 5%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
}
.trial-form__header {
  font-size: 24px;
  color: #6a78e0;
  padding-left: 30px;
  padding-top: 20px;
}
.trial-form__field {
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  line-height: 48px;
  height: 48px;
  margin-left: 30px;
  margin-bottom: 15px;
  padding-left: 20px;
  width: 240px;
  box-sizing: border-box;
}
.trial-form__submit {
  width: 170px;
  border: none;
  height: 48px;
  margin-top: 9px;
  line-height: 48px;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  background-color: #6a78e0;
  color: #ffffff;
  margin-left: 100px;
  box-shadow: 2.121px 2.121px 5px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}
.trial-form__submit:hover {
  color: #2e3eb9;
  background-color: #a4aefb;
}
.trial-form__submit:active {
  background-color: #cccccc;
}
@media (min-width: 700px) {
  .trial-form {
    background-image: url(../img/trial-background-tablet.jpg);
    background-size: cover;
  }
  .trial-form__wrapper {
    padding-top: 230px;
    display: flex;
    justify-content: space-around;
  }
  .trial-form__inner {
    margin: 0;
  }
  .trial-form__header {
    padding-top: 0;
  }
  .trial-form__title {
    font-size: 30px;
    margin-top: 20px;
  }
  .trial-form__title-wrapper {
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 0;
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .trial-form {
    background-image: url(../img/trial-background-desktop.jpg);
  }
  .trial-form__wrapper {
    width: 800px;
    padding-top: 210px;
    margin: 0 auto;
  }
  .trial-form__title-wrapper {
    padding-top: 0;
    padding-left: 100px;
    width: 400px;
  }
  .trial-form__title {
    width: 500px;
    margin-top: 50px;
    font-size: 48px;
  }
  .trial-form__promo {
    font-size: 40px;
  }
  .trial-form__inner {
    height: 390px;
  }
  .trial-form__field {
    margin-bottom: 25px;
  }
  .trial-form__header {
    margin-top: 35px;
  }
}
html {
  font-family: 'Open Sans', sans-serif;
}
